<!-- 파일명: login.html 
기능: login 입력 폼 html
작성자: 이승연 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>lamenstagram</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="main-container">
      <header class="logo">
        <div>
          <img class="logoPicture" src="/images/logo_text.png" alt="인스타 로고" />
        </div>
        <img src="/images/update.png" width="35px" alt="수정"/>
		<div>로그인</div>
      </header>
      
      <contant class="login-container">
        <form action="/login" method="post">
		        <input type="id" class="id" name="mid" placeholder="아이디"/>
		        <input  type="password" class="password" name="mpassword" placeholder="비밀번호" />
		        <button class="loginBtn" type="submit">로그인</button>
		        
		</form>
        <a href="/oauth2/authorization/google"><img src="/images/google.jpeg" width="30px" alt="구글"/></a>
        <form action="/signUp" method="GET">
        	    <button id="joinBtn" type="submit">JOIN US!</button>
        </form>
      </contant>
      <footer></footer>
    </div>
    
  </body>
  
  <script type="text/javascript">
    const loginButton = document.querySelector(".loginBtn");

    loginButton.addEventListener("click", function () {
      const loginId = document.querySelector("#mid").value;
      const loginPassword = document.querySelector("#mpassword").value;

      loginId && loginPassword
        ? (document.querySelector(".loginBtn").style.backgroundColor = "blue")
        : 0;
    });
    </script>
</html>