<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Title</title>
</head>
<body>

<input name="uploadFiles" type="file" multiple>
<button class="uploadBtn">Upload</button>

<!-- 그림 출력 시작 -->
<div class="uploadResult">
</div>
<!-- 그림 출력 끝 -->

<!-- J query CND -->
<script
       src="https://code.jquery.com/jquery-3.5.1.min.js"
       integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
       crossorigin="anonymous">
</script>

<!-- 자바 스크립터 시작 -->
<script>
   function showUploadedImages(arr){
       console.log(arr);
       var divArea = $(".uploadResult");
       var str = "";
       for(var i = 0; i < arr.length; i++){
           str += "<div>";
           str += "<img src='/display?fileName="+arr[i].thumbnailURL+"'>";
           str += "<button class='removeBtn' data-name='"
           str +=  arr[i].imageURL + "'>REMOVE</button>"
           str += "</div>";
       }//end for
       divArea.append(str);//img 태그 추가          
   } //end show...

   $('.uploadBtn').click(function( ) {
       //form 생성
       var formData = new FormData();
       //input 저장
       var inputFile = $("input[type='file']");
       // 사용자가 입력한 이미지 저장
       var files = inputFile[0].files;
       for (var i = 0; i < files.length; i++) {
           console.log(files[i]);
           //form에 추가
           formData.append("uploadFiles", files[i]);
       } //end for            
      
       //실제 업로드 부분
       //upload ajax
       $.ajax({ 
           url: '/uploadAjax',
           processData: false,
           contentType: false,
           data: formData,
           type: 'POST',
           dataType:'json',
           success: function(result){
               console.log(result);
               //나중에 화면 처리
               showUploadedImages(result);
           },
           error: function(jqXHR, textStatus, errorThrown){
               console.log(textStatus);
           }
       }); //end $.ajax
  
   }); // uploadBtn end click

      //삭제 버튼 클릭 delegate 방식 처리--> 동적 생성
       $(".uploadResult").on("click", ".removeBtn", function(e){
           var target = $(this);
           var fileName = target.data("name");
           //이미지 div선택
           var targetDiv = $(this).closest("div");
           console.log(fileName);
           //파일 삭제 호출
           $.post('/removeFile', {fileName: fileName}, function(result){
               console.log(result);
               //파일 삭제 성공시 div제거
               if(result === true){
                   targetDiv.remove();
               }//end if
           });//end post
       });//end remove click
</script>
<!-- 자바 스크립터  끝 -->
</body>
</html>
