<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="setContent(content)">
        <head>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Spring Boot</title>
            <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
            <script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
            <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
            <link href="/css/layout.css" rel="stylesheet" type="text/css" />
        </head>
       
        <body>
		<div class="main-container">
		<header class="logo">
        <div>
          <img class="logoPicture" src="/images/logo_text.png" alt="인스타 로고" />
        </div>
      </header>
            <th:block th:replace="${content}"></th:block>
                           
                      
        </div>                           
                                  
        </body>
    </th:block>
</html>
